@mixin remove-btn-styles {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

@mixin remove-btn-styles-focus {
  outline: 0 !important;
  outline-offset: 0 !important;
  background-image: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;


}

main {
  display: table;
  margin: auto;
}


.calc-body {
  display: flex;
  height: 50vh;
  width: 220px;
  flex-direction: column;
}

.calc-display {
  flex-grow: 1;
  display: flex;
  background-color: #43464b;
  flex-direction: column;
}

.calc-calculation {
  flex-grow: 1;
  margin-top: 25px;
  padding-right: 20px;
  font-size: 15px;
  text-align: right;
  color: #77797a;
  border: none;
  background-color: #43464b
}

.calc-sum {
  padding-right: 10px;
  font-size: 60px;
  color: white;
  text-align: right;
  flex-grow: 4;
  border: none;
  background-color: #43464b
}

.calc-row {
  display: flex;
  flex-grow: 1;
}

.calc-btn {
  @include remove-btn-styles;
  width: 25vw;
  border-top: 1px solid #77797a;
  color: white;

  &:focus {
    @include remove-btn-styles-focus
  }

  &--operator {
    @extend .calc-btn;
    background-color: sandybrown;
  }

  &--number {
    @extend .calc-btn;
    background-color: salmon;
  }

  &--func {
    @extend .calc-btn;
    background-color: red
  }
}